# Python requirements for scripts in bin/ folder
# Generated based on imports in Python scripts

# Used by: anicalc.py
biopython>=1.84

# Used by: anicalc.py
numpy>=1.26.0

# Used by: plot_taxonomy_sankey.py
plotly>=5.24.0
