/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {
    withName: 'AMRINTEGRATOR' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/functional_annotation/amr" },
            mode: params.publish_dir_mode,
            pattern: "integrated_vir*.gff",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'AMRFINDERPLUS_RUN' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/functional_annotation/amr" },
            mode: params.publish_dir_mode,
            pattern: "*.t??",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANICALC' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clustering" },
            mode: params.publish_dir_mode,
            pattern: "*_pairani.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANICLUST' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/clustering" },
            mode: params.publish_dir_mode,
            pattern: "*_clusters.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        ext.args   = {
            meta.id == 'plasmids'
            ? " --min_ani 80 --min_tcov 85 --min_qcov 0"
            : meta.id == 'viruses'
                ? " --min_ani 95 --min_tcov 85 --min_qcov 0 "
                : " --min_ani 90 --min_tcov 85 --min_qcov 0 "
        }
    }

    withName: "BGZIP_FNA" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            mode: params.publish_dir_mode,
            pattern: "*.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: "BGZIP_FAA" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            mode: params.publish_dir_mode,
            pattern: "*.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'BLAST_MAKEBLASTDB' {
        ext.args   = { '-dbtype nucl' }
    }

    withName: 'BLAST_BLASTN' {
        ext.args   = { "-outfmt '6 std qlen slen' -max_target_seqs 10000 -perc_identity 90" }
    }

    withName: 'BUILD_FINAL_GFF' {
        publishDir = [
            path: { "${params.outdir}/${meta_input.id}/cluster_reps" },
            mode: params.publish_dir_mode,
            pattern: "*final.gff.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'CHOOSE_SEQUENCES' {
        publishDir = [
            path: { "${params.outdir}/additional_data/choose_sequences" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'RENAME_CONTIGS' {
        ext.args   = { "--combine" }
        ext.prefix = { "${params.rename_accession}" }
        publishDir = [
            path: { "${params.outdir}/additional_data/rename_contigs" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'BARRNAP' {
        publishDir = [
            path: { "${params.outdir}/additional_data/barrnap" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'COLLECT_CATALOGUE_STATS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.json",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'COLLECT_METADATA' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'CHECKV_ENDTOEND' {
        publishDir = [
            path: { "${params.outdir}/additional_data/quality" },
            mode: params.publish_dir_mode,
            pattern: "**/*quality_summary.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'CONCATENATE_CHECKV' {
        publishDir = [
            path: { "${params.outdir}/additional_data/quality" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'COMPRESS_PLASMIDS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: 'COMPRESS_VIRUSES' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}" },
            mode: params.publish_dir_mode,
            pattern: "*.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.split('/').last() }
        ]
    }

    withName: DEEPARG_PREDICT {
        ext.args = '--type prot'

        errorStrategy = 'retry'
        maxRetries = 2
        cpus   = { 8 * task.attempt }
        time   = { 20.h   * task.attempt }
        memory = { 30.GB * task.attempt }
    }

    withName: 'EXTRACT_REPS_STATS' {
        publishDir = [
            [
               path: { "${params.outdir}/${meta.id}/cluster_reps" },
               mode: params.publish_dir_mode,
               pattern: "*_reps_stats.tsv",
               saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ],
        ]
    }

    withName: 'GENERATE_TAXONOMY_TABLE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/${meta.tool}" },
            mode: params.publish_dir_mode,
            pattern: "*_taxonomy_counts.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CONCATENATE_GENOMAD' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/genomad" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'GREP_FNA' {
        ext.prefix = '_reps'
    }

    withName: 'GREP_FAA' {
        ext.prefix = '_reps'
    }

    withName: 'HAMRONIZATION_DEEPARG' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/functional_annotation/amr" },
            mode: params.publish_dir_mode,
            pattern: "*.t??",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HAMRONIZATION_RGI' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/functional_annotation/amr" },
            mode: params.publish_dir_mode,
            pattern: "*.t??",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HMMER_HMMSEARCH' {
        ext.prefix = { "${meta.id}_${seqdb.baseName}" }
    }

    withName: 'HMMER_VIPHOGS' {
        ext.prefix = { "${meta.id}_${seqdb.baseName}" }
        ext.args = { "--noali --cut_ga -Z \$(hmmstat ${hmmfile} | grep -v \"#\" | wc -l)" }
    }

    withName: 'HMM_POSTPROCESSING' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/viphogs" },
            mode: params.publish_dir_mode,
            pattern: "*_modified.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RATIO_EVALUE' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/viphogs" },
            mode: params.publish_dir_mode,
            pattern: "*_modified_informative.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ANNOTATION' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/viphogs" },
            mode: params.publish_dir_mode,
            pattern: "*_annotation.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'ASSIGN' {
        ext.args = { "--version4 --taxthres 0.6" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/viphogs" },
            mode: params.publish_dir_mode,
            pattern: "*_taxonomy.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'CONCATENATE_HMMER_TBLOUT' {
        publishDir = [
            path: { "${params.outdir}/viruses/cluster_reps/functional_annotation/hmmer" },
            mode: params.publish_dir_mode,
            pattern: "*.tbl.gz",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replace('.hmm', '') }
        ]
    }

    withName: 'INDEX_FAA' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            mode: params.publish_dir_mode,
            pattern: "*.??i",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'INDEX_FNA' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            mode: params.publish_dir_mode,
            pattern: "*.??i",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "INDEX_COMPRESS_BACPHLIP" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/lifestyle" },
            mode: params.publish_dir_mode,
            pattern: "*.gz*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "INDEX_COMPRESS_GFF" {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/" },
            mode: params.publish_dir_mode,
            pattern: "*.gz*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "CONCATENATE_IPHOP_GENOME" {
        ext.prefix = { "iphop_genome" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/host_detection/iphop" },
            mode: params.publish_dir_mode,
            pattern: "*.csv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "CONCATENATE_IPHOP_GENUS" {
        ext.prefix = { "iphop_genus" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/host_detection/iphop" },
            mode: params.publish_dir_mode,
            pattern: "*.csv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'KRONA_KTIMPORTTEXT' {
        ext.prefix = { "${meta.tool}_krona" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/${meta.tool}" },
            mode: params.publish_dir_mode,
            pattern: "*.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


    withName: RGI_MAIN {
        ext.args2 = '--input_type protein'
    }

    withName: 'PLOT_ITOL' {
        ext.prefix = { "${meta.tool}" }
        ext.args = '--format count'
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/${meta.tool}/itol_${meta.tool}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'PHAMMSEQS' {
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/phammseqs" },
            pattern: "_phams.tsv",
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SANKEY_PLOT' {
        ext.prefix = { "${meta.tool}" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/${meta.tool}" },
            mode: params.publish_dir_mode,
            pattern: "*sankey.html",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SPACEPHARER_CREATEDB_REV' {
        ext.args   = { "--reverse-fragments 1" }
    }

    withName: 'COLLECT_HOST_INFO' {
        publishDir = [
            path: { "${params.outdir}/viruses/cluster_reps/host_detection/spacepharer" },
            mode: params.publish_dir_mode,
            pattern: "*t.sv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'SUMMARISE_ANNOTATIONS' {
        publishDir = [
            path: { "${params.outdir}/viruses/cluster_reps/functional_annotation/hmmer" },
            mode: params.publish_dir_mode,
            pattern: "*gz*",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'TAX_VIPHOGS' {
        ext.prefix = { "${meta.id}_viphogs" }
        ext.args   = { "--taxonomy-col taxonomy --meta-id-col sequence_id --id-col contig_ID --columns type,biomes --lineage 'superkingdom,kingdom,phylum,subphylum,class,order,suborder,family,subfamily,genus'" }
    }

    withName: 'TAX_VITAP' {
        ext.prefix = { "${meta.id}_vitap" }
        ext.args   = { "--reversed --taxonomy-col 'lineage' --meta-id-col sequence_id --id-col Genome_ID --columns type,biomes" }
    }

    withName: 'TAX_GENOMAD' {
        ext.prefix = { "${meta.id}_genomad" }
        ext.args   = { "--taxonomy-col 'taxonomy' --meta-id-col sequence_id --id-col seq_name --columns type,biomes" }
    }

    withName: 'VCLUST_PREFILTER' {

        errorStrategy = 'retry'
        maxRetries = 2
        cpus   = { 4 * task.attempt }
        time   = { 12.h   * task.attempt }
        memory = { 30.GB * task.attempt }

        ext.args   = {
            meta.id == 'plasmids'
            ? " --min-kmers 20 --min-ident 0.5 "
            : meta.id == 'viruses'
               ? " --min-ident 0.95 "
               : " --min-ident 0.70 "
        }
    }

    withName: 'VCLUST_ALIGN' {

        errorStrategy = 'retry'
        maxRetries = 2
        cpus   = { 4 * task.attempt }
        time   = { 20.h   * task.attempt }
        memory = { 100.GB * task.attempt }

        ext.args   = {
            meta.id == 'plasmids'
            ? " --out-ani 0.70 --out-qcov 0.50 "
            : meta.id == 'viruses'
                ? " --out-ani 0.95 --out-qcov 0.85 "
                : ""
        }
    }

    withName: 'VCLUST_CLUSTER' {

        errorStrategy = 'retry'
        maxRetries = 2
        cpus   = { 4 * task.attempt }
        time   = { 20.h   * task.attempt }
        memory = { 100.GB * task.attempt }

        ext.args   = {
            meta.id == 'plasmids'
            ? " --algorithm leiden --leiden-resolution 0.9 --out-repr"
            : meta.id == 'viruses'
                ? " --algorithm cd-hit --qcov 0.85 --out-repr "
                : " --algorithm leiden --out-repr"
        }
    }

    withName: 'VITAP' {
        ext.prefix = { "${fasta.baseName}" }
        errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
        maxRetries    = 2
    }

    withName: 'CONCATENATE_VITAP' {
        ext.prefix = { "${meta.id}_best_hits" }
        publishDir = [
            path: { "${params.outdir}/${meta.id}/cluster_reps/taxonomy/vitap" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DEEPARG_DOWNLOADDATA' {
        ext.prefix = 'deeparg'
        ext.suffix = 'zip'
    }

    withName: 'UNCOMPRESSED_REPS_FAA' {
        ext.prefix = { "${meta.id}" }
    }
}
